# POSTGRES DB configi
POSTGRES_DB=nac_db
POSTGRES_USER=nac_admin
POSTGRES_PASSWORD=Deneme
POSTGRES_HOST=postgres 
POSTGRES_PORT=5432

# REDIS
REDIS_HOST=redis 
REDIS_PORT=6379

# RADIUS
RADIUS_SECRET=testing123

# API
API_HOST = 0.0.0.0
API_PORT = 8000

